.area_perfil {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    padding: 0px;
}

.area_perfil img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.area_perfil button {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

.area_perfil button:active {
    transform: scale(0.96);
}

.area_info_user {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.707);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.area_info_user_info {
    width: 90%;
    height: 500px;
    background: rgba(255, 255, 255);
    border: 2px solid none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}

.area_info_user_sair {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding: 5px 5px 0px 0px;
}

.area_info_user_sair img {
    opacity: 0.4;
    width: 27px;
    height: 27px;
}

.area_info_user_img {
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_info_user_img img {
    width: 100px;
    height: 100px;
}

.area_info_user_user_name {
    width: 90%;
    height: 40px;
    color: #0066ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_info_user_forms {
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_info_user_btn {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px;
}

.area_info_user_btn button,
.area_info_user_btn a {
    width: 110px;
    height: 40px;
    border-radius: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.area_info_user_btn button:active {
    transform: scale(1.03);
}

.form_info {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_input {
    width: 100%;
    padding: 0px 0px 14px 0px;
}

.area_input p {
    padding: 0px 10px 10px 0px;
}

.div_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.div_input input {
    width: 95%;
    height: 34px;
    background: transparent;
    outline: none;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
    padding: 5px;
}

.div_input input:focus {
    border-color: #0066FF;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.div_input input::placeholder {
    color: #888;
}

.salvar_alteracoes {
    border: 2px solid #1d4ed8 !important;
    color: white;
    background: #1d4ed8 !important;
    font-weight: 600;
}

.salvar_alteracoes:hover {
    /* background: #2564eb5a !important; */
    background: #1e40af !important;
    border-color: #1e40af !important;
    box-shadow: 0 6px 16px rgba(37, 99, 235, 0.25) !important;
    transform: translateY(-2px);
}

.deslogar_conta {
    background: transparent;
    /* color: #ff0000; */
    /* border: 2px solid #eb2525 !important; */
    color: #dc2626;
    border: 2px solid #dc2626 !important;
    font-weight: 600;
}

.deslogar_conta:hover {
    /* background: rgba(235, 37, 37, 0.245); */
    background: #dc2626;
    transform: translateY(-2px);
    color: white;
}


/* CSS pra Media Querys */

@media only screen and (min-width:400px) {

    .area_info_user_img img {
        width: 100px;
        height: 100px;
    }

    .area_perfil img {
        width: 28px;
        height: 28px;
    }
}

@media only screen and (min-width:500px) {
    .area_perfil img {
        width: 30px;
        height: 30px;
    }

}

@media only screen and (min-width:651px) {
    .area_perfil img {
        width: 34px;
        height: 34px;
    }

    .area_info_user_img img {
        width: 100px;
        height: 100%;
    }
}