/* CSS Da Área Geral */
.area_geral_pulse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

/* Css Da Main */
main {
    width: 100%;
    /* padding: 41px 0px 0px 0px; */
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}